# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/sb-admin-2-react/node_modules/
/sb-admin-2-react/yarn.lock
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Intellij
.idea
e-commerce-admin-monolithic/settings.gradle
e-commerce-admin-monolithic/*.iml
e-commerce-admin-monolithic/build/
e-commerce-admin-monolithic/gradle/
e-commerce-admin-monolithic/.gradle/
e-commerce-admin-monolithic/gradlew
e-commerce-admin-monolithic/gradlew.bat

# docker
e-commerce-admin-monolithic/docker/data

# npm
sb-admin-2-react/dist/
sb-admin-2-react/package-lock.json
